.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  background-color: rgb(91, 109, 211);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  padding: 35px;
  color: #fff;
  overflow-y: auto;
  max-height: 85%;
}
